/*начало общих параметров*/
body {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #464646;
}

h1 {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 47px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn-standart {
  display: inline-block;
  width: 160px;
  height: 40px;
  font-size: 18px;
  font-weight: 800;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
  background:linear-gradient(to bottom, transparent, transparent 40%, #ffc600 40%, #ffc600, #ffc600 60%, transparent 60%, transparent);
}

.btn-standart:hover {
  background: #ffc600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

.hidden {
  display: none;
}

.slider-one,
.slider-two,
.slider-three {
  display: none;
}
/*конец общих параметров*/
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
/*--BEGIN main-header--*/
.main-header {
  position: relative;
  box-sizing: border-box;
  min-height: 186px;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #ffe27f;
}

.main-header .logo {
  position: absolute;
  top: -14px;
  left: 56px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #000000;
}

.main-header .logo:hover {
  opacity: 0.5;
}

.main-header .logo:active {
  opacity: 0.3;
}

.controls-left {
  margin: 0;
  padding: 0;
}

.controls-left .search {
  position: relative;
  float: left;
  width: 280px;
  padding-left: 38px;
  padding-top: 4px;
 }

 .controls-left .search::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 5px;
  width: 11px;
  height: 11px;
  border: 2px solid #000000;
  border-radius: 50%;
 }

 .controls-left .search::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 14px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-top: 2px solid #000000;
 }

 .controls-left .search-btn {
  display: none;
}

.controls-left .search-field {
  background-color: #ffe27f;
  border: none;
  opacity: 0.3;
}

.controls-left .search-field:hover {
  opacity: 0.5;
}

.controls-left .search-field:focus {
  outline: 0;
  opacity: 1;
}

.search-field:focus+.search-btn {
  display: block;
  position: absolute;
  top: 5px;
  left: 355px;
  width: 86px;
  background-color: #ffe27f;
  border: 2px solid #000000;
 }

.search-field:focus+.search-btn:active {
  opacity: 0.5;
}

.search-field:focus+.search-btn::before {
  display: block;
  position: absolute;
  top: 32px;
  left: -358px;
  content: "";
  width: 356px;
  border-bottom: 2px solid #000000;
}

.search-field:focus+.search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.controls-right {
  float: right;
  width: 500px;
  margin: 0;
  padding: 0;
}

.controls-right .controls-right-item {
  float: left;
  box-sizing: border-box;
  width: 100px;
  padding-left: 25px;
  margin-left: 17px;
  margin-top: 5px;
  font-family: "Open Sans" ,"Arial" , sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.user-block {
  margin-top: 5px;
}

.user-block .enter-link,
.user-block .profile-link,
.user-block .exit-link {
  box-sizing: border-box;
  padding-left: 26px;
  margin-top: 15px;
  font-family: "Open Sans" ,"Arial" , sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.controls-right .controls-right-link,
.user-block .enter-link,
.user-block .profile-link,
.user-block .exit-link {
  color: #000000;
}

.controls-right .controls-right-link:hover,
.user-block .enter-link:hover,
.user-block .profile-link:hover,
.user-block .exit-link:hover {
  opacity: 0.5;
}

.controls-right .controls-right-link:active,
.user-block .enter-link:active,
.user-block .profile-link:active,
.user-block .exit-link:active {
  opacity: 0.3;
}

.controls-right .controls-right-item:nth-of-type(1),
.controls-right .controls-right-item:nth-of-type(2) {
  float: right;
}

.navigation-list {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.navigation-list .navigation-item {
  float: left;
  margin-right: 35px;
}

.navigation-item>.navigation-link {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-list .navigation-item:first-of-type {
  margin: 0;
  padding: 0;
  position: relative;
  width: 250px;
  height: 78px;
  margin-right: 290px;
}

.navigation-list .navigation-item:first-of-type::before,
.navigation-list .navigation-item:first-of-type::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 225px;
  width: 15px;
  border-top: 2px solid #b8a974;
}

.navigation-list .navigation-item:first-of-type::after {
  transform: rotate(90deg);
}

.navigation-list .navigation-item:last-of-type {
  float: right;
  width: 120px;
  box-sizing: border-box;
  padding-left: 40px;
}

.navigation-item>.navigation-link:hover {
  opacity: 0.5;
}

.navigation-item>.navigation-link:active {
  opacity: 0.3;
}

.navigation-submenu-list {
  display: none;
  position: absolute;
  top: 45px;
  width: 1100px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffe27f;
  z-index: 100;
}

.navigation-submenu-list .navigation-submenu-item {
  float: left;
  width: 200px;
  margin-bottom: 20px;
}

.navigation-submenu-list .navigation-submenu-item:nth-of-type(3) {
  margin-right: 500px;
}

.navigation-submenu-list .navigation-submenu-item:nth-of-type(5) {
  margin-right: 600px;
}

.navigation-submenu-list .navigation-submenu-item:nth-of-type(2),
.navigation-submenu-list .navigation-submenu-item:nth-of-type(3),
.navigation-submenu-list .navigation-submenu-item:nth-of-type(5) {
  box-sizing: border-box;
  padding-left: 40px;
}

.navigation-submenu-list .navigation-submenu-item:hover {
  opacity: 0.5;
}

.navigation-submenu-list .navigation-submenu-item:active {
  opacity: 0.3;
}

.navigation-item:first-of-type:hover .navigation-submenu-list {
  display: block;
}

.navigation-list .navigation-link,
.navigation-submenu-list .navigation-submenu-link {
  color: #000000;
}
/*--END main-header--*/
/*--BEGIN main-content--*/
/*--BEGIN main-slider--*/
.main-slider {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-slider-list {
  position: relative;
}

.first-slider-content,
.second-slider-content,
.third-slider-content {
  position: absolute;
  opacity: 0.0;
  z-index: 0;
  background: linear-gradient(to bottom,#ffe27f,#ffe27f 115px,transparent 115px,transparent);
}

.slider-one:checked ~ .main-slider-list .first-slider-content,
.slider-two:checked ~ .main-slider-list .second-slider-content,
.slider-three:checked ~ .main-slider-list .third-slider-content {
  opacity: 1.0;
  z-index: 1;
}

.layout-column-left {
  margin: 0;
  padding: 0;
  width: 560px;
  margin-right: 40px;
}

.main-slider-list .slider-picture-1 {
  box-sizing: border-box;
  padding-left: 88px;
}

.main-slider-list .slider-picture-2 {
  box-sizing: border-box;
  padding-left: 115px;
}

.main-slider-list .slider-picture-3 {
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 40px;
}

.layout-column-right{
  margin: 0;
  padding: 0;
  width: 560px;
  box-sizing: border-box;
}

.main-slider-list .slider-slogan {
  width: 100%;
  font-size: 47px;
  font-weight: 800;
  margin-top: 75px;
  line-height: 58px;
  letter-spacing: 0.1px;
  color: #000000;
}

.main-slider-list .slider-slogan::before {
  position: absolute;
  top: 20px;
  left: ;
  width: 100px;
  height: 10px;
  content: "";
  border-top: 7px solid #ffffff;
}

.first-slider-content .slider-slogan::after {
  position: absolute;
  top: 40px;
  left: 950px;
  width: 100px;
  height: 10px;
  content: "01";
  color: #ffffff;
  font-size: 179.2px;
  font-weight: 800;
}

.second-slider-content .slider-slogan::after {
  position: absolute;
  top: 40px;
  left: 950px;
  width: 100px;
  height: 10px;
  content: "02";
  color: #ffffff;
  font-size: 179.2px;
  font-weight: 800;
}

.third-slider-content .slider-slogan::after {
  position: absolute;
  top: 40px;
  left: 950px;
  width: 100px;
  height: 10px;
  content: "03";
  color: #ffffff;
  font-size: 179.2px;
  font-weight: 800;
  z-index: -100;
}

.main-slider-list .slider-link {
  margin-top: 50px;
  font-weight: 800;
}

.btn-standart.btn-more-info {
  width: 220px;
}

.btn-standart.btn-more-info:active {
  opacity: 0.3;
}

.main-slider-list .slider-features {
  margin: 0;
  padding: 0;
  margin-top: 55px;
}

.slider-features .slide-feature {
  float: left;
  width: 130px;
  margin-right: 55px;
  text-align: left;
}

.slide-feature .slide-feature-value {
  font-size: 36px;
}

.main-slider .main-slider-block-control {
  position: absolute;
  top: 330px;
  left: 980px;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 15px;
  box-sizing: border-box;
  padding-left: 20px;
}

.main-slider-block-control .main-slider-label-item {
  float: left;
  width: 5px;
  height: 5px;
  margin-right: 22px;
  border-radius: 50%;
  border: 3px solid #b2b2b2;
  cursor: pointer;
}

.main-slider-block-control .main-slider-label-item:hover {
  border: 3px solid #000000;
}
/*сократить эту громаду классов не получается!*/
.slider-one:checked ~.main-slider-block-control .main-slider-label-block:nth-of-type(1) .main-slider-label-item,
.slider-two:checked ~.main-slider-block-control .main-slider-label-block:nth-of-type(2) .main-slider-label-item,
.slider-three:checked ~.main-slider-block-control .main-slider-label-block:nth-of-type(3) .main-slider-label-item {
  border: 3px solid #000000;
}

/*--END main-slider--*/
/*--BEGIN main-content-product--*/
.main-content-product .main-content-product-list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 595px;
}

.main-content-product-list .main-content-product-item {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.main-content-product-list .main-content-product-item:last-of-type {
  margin-right: 0;
}

.main-content-product-link h3 {
  width: 125px;
  padding-top: 10px;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.main-content-product-block {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
}

.main-content-product-block>.main-content-product-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content-product-block:hover {
  background-color: #ffc600;
}

.main-content-product-item:active {
  opacity: 0.3;
}

/*--END main-content-product--*/
/*--BEGIN main-content-service--*/
.main-content-service {
  position: relative;
  height: 290px;
  margin-top: 170px;
  background-color: #e6e6e6;
}

.main-content-service .service-block-control {
  position: absolute;
  top: -20px;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 190px;
}

.main-content-service .service-block-control::before {
  position: absolute;
  top: -80px;
  left: 280px;
  content: "";
  height: 320px;
  border-left: 8px solid #000000;
}

.service-block-control .btn-control {
  float: left;
  height: 40px;
  width: 280px;
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.service-block-control .btn-control:last-of-type {
  margin-bottom: 0;
}

.btn-standart.btn-control {
  width: 140px;
}

.layout-left {
  float: left;
  width: 460px;
}

.layout-left h2 {
  font-size: 47px;
  font-weight: 800;
  line-height: 0.1px;
}

.item-icon {
  float: right;
  width: 200px;
  margin-top: 30px;
  margin-right: 110px;
}

.deliveri-features,
.guarantees-features,
.credit-features {
  display: none;
}

.deliveri-features:checked ~ .service-content .first-item-content,
.guarantees-features:checked ~ .service-content .second-item-content,
.credit-features:checked ~ .service-content .third-item-content {
  opacity: 1.0;
  z-index: 1;
}

.deliveri-features:checked ~ .service-block-control .btn-control:nth-of-type(1),
.guarantees-features:checked ~ .service-block-control .btn-control:nth-of-type(2),
.credit-features:checked ~ .service-block-control .btn-control:nth-of-type(3) {
  color: #ffe27f;
  background: none;
  background-color: #000000;
  box-shadow: 140px 0 #000000;
}

.service-content {
  position: relative;
}

.first-item-content,
.second-item-content,
.third-item-content {
  position: absolute;
  top: -40px;
  left: 420px;
  width: 870px;
  margin: 0;
  padding: 0;
  opacity: 0.0;
  z-index: 0;
}
/*--END main-content-service--*/
/*--BEGIN main-content-logo-list--*/
.main-content-logo{
  position: relative;
}

.main-content-logo-list,
.main-content-logo-list-gray {
  position: absolute;
  top: 95px;
  margin: 0;
  padding: 0;
}

.main-content-logo-item {
  float: left;
  margin-right: 40px;
}

.main-content-logo-item:last-of-type {
  margin-right: 0;
}

.main-content-logo-block {
  position: relative;
  width: 260px;
  height: 100px;
}

.main-content-logo-block>.main-content-logo-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content-logo-list .main-content-logo-picture {
  opacity: 0;
  z-index: 0;
}

.main-content-logo-list .main-content-logo-picture:hover {
  opacity: 1;
  z-index: 1;
}

/*--END main-content-logo-list--*/
/*--BEGIN main-content-column--*/
.main-content-column {
  padding: 0;
  margin: 0;
  margin-top: 300px;
}

.column-description {
  position: relative;
}

.column-description::before {
  position: absolute;
  top: -53px;
  content: "";
  width: 80px;
  height: 10px;
  border-top: 7px solid #000000;
}

.layout-column-left {
  float: left;
}

.column-description h2 {
  font-size: 47px;
  font-weight: 800;
  padding-top: 5px;
}

.column-description p {
  padding-top: 15px;
  width: 470px;
}

.column-description p:last-of-type {
  padding-top: 15px;
}

.column-description .partners-list {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  padding-left: 40px;
  font-weight: 800;
  letter-spacing: 0.5px;
  padding-top: 25px;
  color: #000000;
}

.partners-list .partners-item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.partners-list .partners-item::before {
  position: absolute;
  content: "";
  top: 9px;
  left: -38px;
  height: 5px;
  width: 5px;
  border: 3px solid #b2b2b2;
  border-radius: 50%;
}

.btn-standart.btn-about,
.btn-standart.btn-write {
  width: 260px;
  margin-top: 40px;
}

.btn-standart.btn-about:active,
.btn-standart.btn-write:active {
  opacity: 0.3;
}

.btn-standart.btn-write {
  margin-top: 70px;
}

.layout-column-right {
  float: right;
}

.layout-column-right .map-big {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 559px;
  background-color: #ffffff;
}

.layout-column-right .map-big:target {
  display: block;
}

.layout-column-right .column-form-description {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 553px;
  background-color: #ffffff;
}

.column-form-description .form-description {
  margin: 0;
  padding: 100px;
}

.form-description .name-field,
.form-description .email-field {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
}

.form-description .name-field-item {
  float: left;
  width: 360px;
}

.form-description .email-field-item {
  float: right;
  width: 360px;
}

.form-description .comment-field-item {
  float: left;
  width: 760px;
  margin-top: 40px;
}

.form-description .name-field-item,
.form-description .email-field-item,
.form-description .comment-field-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.form-description .name-field {
  float: left;
  margin-right: 40px;
  background-color: #f2f2f2;
  border: none;
}

.form-description .email-field {
  float: right;
  background-color: #f2f2f2;
  border: none;
}

.form-description .comment-field {
  float: left;
  width: 760px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 15px;
  background-color: #f2f2f2;
  border: none;
}

.form-description .name-field:focus,
.form-description .email-field:focus,
.form-description .comment-field:focus {
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.form-description .name-field:hover,
.form-description .email-field:hover,
.form-description .comment-field:hover {
  background-color: #ebebeb;
  border: none;
}

.form-description .name-field:invalid,
.form-description .email-field:invalid {
  background-color: #f6dada;
  border: none;
}

.column-form-description:target {
  display: block;
}

.btn-standart.btn-default {
  float: left;
  width: 200px;
  border: none;
  margin-top: 50px;
}

.close-modal {
  position: absolute;
  top: 30px;
  left: 880px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f0c52e;
  opacity: 0.3;
  cursor: pointer;
}

.close-modal:hover {
  opacity: 1.0;
}

.close-modal:active::before,
.close-modal:active::after {
  border-top: 2px solid #f3d055;
}

.close-modal::before,
.close-modal::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 13px;
  width: 30px;
  border-top: 2px solid #ffffff;
}

.close-modal::before {
  transform: rotate(45deg);
}

.close-modal::after {
  transform: rotate(-45deg);
}
/*--END main-content-column--*/
/*--END main-content--*/
/*--BEGIN main-footer--*/
.main-footer {
  margin: 0;
  padding: 0;
  margin-top: 135px;
  padding-top: 1px;
  position: relative;
  height: 323px;
  background-color: #444444;
}

.main-footer-top {
  margin: 0;
  padding: 0;
  width: inherit;
  margin-top: 65px;
}

.main-footer-logo-link {
  float: left;
  width: 100px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffc700;
}

.main-footer-logo-link:hover {
  opacity: 0.5;
}

.main-footer-logo-link:active {
  opacity: 0.3;
}

.main-footer-top .main-footer-controls-top-list {
  float: right;
  width: 500px;
  margin: 0;
  padding: 0;
}

.main-footer-controls-top-list .main-footer-controls-top-item {
  float: right;
  margin-left: 10px;
  box-sizing: border-box;
  width: 100px;
  padding-left: 25px;
}

.main-footer-controls-top-list .main-footer-controls-top-item:nth-of-type(1),
.main-footer-controls-top-list .main-footer-controls-top-item:nth-of-type(2) {
  float: right;
}

.main-footer-controls-top-list .main-footer-controls-top-link {
  color: #ffffff;
  opacity: 0.5;
}

.main-footer-controls-top-list .enter-link:hover,
.main-footer-controls-top-list .profile-link:hover,
.main-footer-controls-top-list .exit-link:hover,
.main-footer-controls-top-list .main-footer-controls-top-link:hover {
  opacity: 1.0;
}

.main-footer-controls-top-list .enter-link:active,
.main-footer-controls-top-list .profile-link:active,
.main-footer-controls-top-list .exit-link:active,
.main-footer-controls-top-list .main-footer-controls-top-link:active {
  opacity: 0.3;
}

.main-footer-controls-top-list .enter-link,
.main-footer-controls-top-list .profile-link,
.main-footer-controls-top-list .exit-link {
  float: right;
  margin-top: 0;
  color: #ffffff;
  opacity: 0.5;
}

.main-footer-middle {
  margin: 0;
  padding: 0;
  width: inherit;
  margin-top: 35px;
}

.main-footer-adress {
  float: left;
  width: 200px;
  margin-right: 160px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
}

.main-footer-navigation-list {
  float: left;
  width: 445px;
  margin: 0;
  padding: 0;
  margin-right: 190px;
}

.main-footer-navigation-list .main-footer-navigation-item {
  float: left;
  width: 130px;
  margin-right: 25px;
}

.main-footer-navigation-list .main-footer-navigation-item:last-of-type {
  margin-right: 0;
}

.main-footer-navigation-list .main-footer-navigation-link {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-footer-navigation-list .main-footer-navigation-link:hover {
  opacity: 0.5;
}

.main-footer-navigation-list .main-footer-navigation-link:active {
  opacity: 0.3;
}

.main-footer-phone {
  float: right;
  width: 165px;
  color: #ffffff;
}

.main-footer-bottom {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 52px;
  width: inherit;
}

.main-footer-bottom::before {
  position: absolute;
  top: 22px;
  content: "";
  width: 80px;
  height: 10px;
  border-top: 8px solid #ffc700;
}

.main-footer-social-list {
  float: left;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 472px;
  margin-left: 470px;
}

.main-footer-social-list .main-footer-social-item {
  float: left;
  width: 38px;
  height: 38px;
}

.main-footer-social-list .social-btn {
  color: #ffffff;
}

.main-footer-social-list .social-btn {
  opacity: 0.5;
}

.main-footer-social-list .social-btn:active {
  opacity: 0.3;
}

.main-footer-social-list .social-btn:hover {
  opacity: 1.0;
}

.main-footer-copyright-btn {
  float: right;
  width: 30px;
}

.main-footer-copyright-btn .main-footer-copyright-btn-picture:hover {
  background-color: #464646;
  opacity: 0.5;
}

.main-footer-copyright-btn .main-footer-copyright-btn-picture:active {
  background-color: #464646;
  opacity: 0.3;
}


/*--END main-footer--*/
