/*начало общих параметров*/
body {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #464646;
}

h1 {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 47px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn-standart {
  display: inline-block;
  width: 160px;
  height: 40px;
  font-size: 18px;
  font-weight: 800;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
  background:linear-gradient(to bottom, transparent, transparent 40%, #ffc600 40%, #ffc600, #ffc600 60%, transparent 60%, transparent);
}

.btn-standart:hover {
  background: #ffc600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}

.hidden {
  display: none;
}

.slider-one,
.slider-two,
.slider-three {
  display: none;
}

.layout-column-left {
  float: left;
}

.layout-column-right {
  float: right;
}
/*конец общих параметров*/
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}
/*--BEGIN main-header--*/
.main-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 230px;
  padding-top: 24px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: linear-gradient(#ffffff 40px, #ffe27f 40px, #ffe27f);
}

.main-header .logo {
  float: left;
  width: 170px;
  margin-right: 700px;
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #000000;
}

.main-header .logo:hover {
  color: #8d8d8d;
  opacity: 0.6;
}

.main-header .logo:active {
  color: #8d8d8d;
  opacity: 0.3;
}

.controls-left {
  position: relative;
  float: left;
  width: 440px;
  margin: 0;
  padding: 0;
}

.controls-left .search {
  float: left;
  width: 280px;
  padding-left: 40px;
  padding-top: 25px;
 }

 .controls-left .search::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 8px;
  width: 10px;
  height: 10px;
  border: 2px solid #000000;
  border-radius: 50%;
 }

 .controls-left .search::after {
  content: "";
  position: absolute;
  top: 49px;
  left: 16px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-top: 1px solid #000000;
 }

.controls-left .search-field {
  background-color: #ffe27f;
  border: none;
  opacity: 0.3;
  width: 400px;
}

.controls-left .search-field:hover {
  opacity: 0.5;
}

.controls-left .search-field:focus {
  outline: 0;
  opacity: 1;
}

.controls-left .search-btn {
  position: absolute;
  top: 25px;
  left: 355px;
  width: 86px;
  height: 36px;
  background-color: #ffe27f;
  border: 2px solid #000000;
  opacity: 0;
}

.search-field:focus+.search-btn {
  opacity: 1;
 }

.search-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-btn:active {
  opacity: 1;
  outline: none;
}

.search-btn:active {
  color: #747474;
}

.search-btn::before {
  position: absolute;
  top: 32px;
  left: -358px;
  content: "";
  width: 356px;
  border-bottom: 2px solid #000000;
}

.controls-right {
  position: relative;
  float: right;
  width: 500px;
  margin: 0;
  padding: 0;
}

.controls-right .controls-right-item {
  float: left;
  box-sizing: border-box;
  width: 100px;
  margin-left: 17px;
  margin-top: 5px;
  font-family: "Open Sans" ,"Arial" , sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.user-block {
  position: relative;
  margin-top: 5px;
  width: 280px;
}

.user-block .enter-link,
.user-block .profile-link,
.user-block .exit-link {
  box-sizing: border-box;
  padding-left: 26px;
  margin-top: 15px;
  font-family: "Open Sans" ,"Arial" , sans-serif;
  font-size: 15px;
  letter-spacing: 0.1px;
}

.controls-right .controls-right-link,
.user-block .enter-link,
.user-block .profile-link,
.user-block .exit-link {
  color: #000000;
}

.controls-right .controls-right-link:hover,
.user-block .enter-link:hover,
.user-block .profile-link:hover,
.user-block .exit-link:hover {
  opacity: 0.5;
}

.controls-right .controls-right-link:active,
.user-block .enter-link:active,
.user-block .profile-link:active,
.user-block .exit-link:active {
  opacity: 0.3;
}

.controls-right .controls-right-item:nth-of-type(1),
.controls-right .controls-right-item:nth-of-type(2) {
  float: right;
}

.controls-right .controls-right-link-basket {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.main-header .controls-right-link-basket {
  background: url("../img/sprite.png") no-repeat 0 0;
}

.controls-right .controls-right-link-compare {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.main-header .controls-right-link-compare {
  background: url("../img/sprite.png") no-repeat 37% 0;
}

.user-block .enter-link-icon,
.user-block .profile-link-icon,
.main-footer .exit-link-icon {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.main-header .enter-link-icon,
.user-block .profile-link-icon {
  background: url("../img/sprite.png") no-repeat 68% 0;
}

.navigation-list {
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.navigation-list .navigation-item {
  float: left;
  margin-right: 35px;
}

.navigation-item>.navigation-link {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-list .navigation-item:first-of-type {
  margin: 0;
  padding: 0;
  position: relative;
  width: 500px;
  margin-right: 40px;
}

.navigation-item:first-of-type .navigation-link:first-of-type::before,
.navigation-item:first-of-type .navigation-link:first-of-type::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 225px;
  width: 15px;
  border-top: 2px solid #b8a974;
}

.navigation-list .navigation-link:first-of-type::after {
  transform: rotate(90deg);
}

.navigation-list .navigation-item:last-of-type {
  float: right;
  box-sizing: border-box;
  padding-left: 40px;
  margin-right: 0;
}

.navigation-item>.navigation-link:hover {
  opacity: 0.5;
}

.navigation-item>.navigation-link:active {
  opacity: 0.3;
}

.navigation-submenu-list {
  display: none;
  position: absolute;
  top: 30px;
  left: -60px;
  width: 1160px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 60px;
  background-color: #ffe27f;
  z-index: 100;
}

.navigation-submenu-list .navigation-submenu-link {
  margin-right: 50px;
}

.navigation-submenu-list .navigation-submenu-item {
  padding-top: 25px;
}

.navigation-submenu-list .navigation-submenu-link:hover {
  opacity: 0.5;
}

.navigation-submenu-list .navigation-submenu-link:active {
  opacity: 0.3;
}

.navigation-item:first-of-type:hover .navigation-submenu-list {
  display: block;
}

.navigation-list .navigation-link,
.navigation-submenu-list .navigation-submenu-link {
  color: #000000;
}
/*--END main-header--*/
/*--BEGIN main-content--*/
/*--BEGIN main-slider--*/
.main-slider {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 590px;
}

.main-slider-list {
  position: relative;
}

.first-slider-content,
.second-slider-content,
.third-slider-content {
  position: absolute;
  opacity: 0.0;
  z-index: 0;
  background: linear-gradient(to bottom,#ffe27f,#ffe27f 115px,transparent 115px,transparent);
}

.slider-one:checked ~ .main-slider-list .first-slider-content,
.slider-two:checked ~ .main-slider-list .second-slider-content,
.slider-three:checked ~ .main-slider-list .third-slider-content {
  opacity: 1.0;
  z-index: 1;
}

.main-slider-list .layout-column-left {
  margin: 0;
  padding: 0;
  width: 560px;
  margin-right: 40px;
}

.main-slider-list .slider-picture-1 {
  box-sizing: border-box;
  padding-left: 88px;
}

.main-slider-list .slider-picture-2 {
  box-sizing: border-box;
  padding-left: 115px;
}

.main-slider-list .slider-picture-3 {
  box-sizing: border-box;
  padding-left: 30px;
  padding-top: 40px;
}

.main-slider-list .layout-column-right{
  margin: 0;
  padding: 0;
  width: 560px;
  margin-right: 0;
}

.main-slider-list .slider-slogan {
  width: 100%;
  font-size: 47px;
  font-weight: 800;
  margin-top: 75px;
  line-height: 58px;
  letter-spacing: 0.1px;
  color: #000000;
}

.main-slider-list .slider-slogan::before {
  position: absolute;
  top: 20px;
  left: ;
  width: 100px;
  height: 10px;
  content: "";
  border-top: 7px solid #ffffff;
}

.first-slider-content .slider-slogan::after {
  position: absolute;
  top: 40px;
  left: 950px;
  width: 100px;
  height: 10px;
  content: "01";
  color: #ffffff;
  font-size: 179.2px;
  font-weight: 800;
}

.second-slider-content .slider-slogan::after {
  position: absolute;
  top: 40px;
  left: 950px;
  width: 100px;
  height: 10px;
  content: "02";
  color: #ffffff;
  font-size: 179.2px;
  font-weight: 800;
}

.third-slider-content .slider-slogan::after {
  position: absolute;
  top: 40px;
  left: 950px;
  width: 100px;
  height: 10px;
  content: "03";
  color: #ffffff;
  font-size: 179.2px;
  font-weight: 800;
  z-index: -100;
}

.main-slider-list .slider-link {
  margin-top: 50px;
  font-weight: 800;
}

.btn-standart.btn-more-info {
  width: 220px;
}

.btn-standart.btn-more-info:active {
  background: #f0c52e;
}

.btn-more-info:active span {
  opacity: 0.3;
}

.main-slider-list .slider-features {
  margin: 0;
  padding: 0;
  margin-top: 55px;
}

.slider-features .slide-feature {
  float: left;
  width: 160px;
  margin-right: 25px;
  text-align: left;
}

.slider-features .slide-feature:nth-of-type(3) {
  float: right;
}

.slide-feature .slide-feature-value {
  font-size: 36px;
}

.main-slider .main-slider-block-control {
  position: absolute;
  top: 325px;
  left: 980px;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 15px;
  box-sizing: border-box;
  padding-left: 20px;
}

.main-slider-block-control .main-slider-label-item {
  float: left;
  width: 5px;
  height: 5px;
  margin-right: 22px;
  border-radius: 50%;
  border: 3px solid #b2b2b2;
  cursor: pointer;
}

.main-slider-block-control .main-slider-label-item:hover {
  border: 3px solid #000000;
}

.slider-one:checked ~.main-slider-block-control .main-slider-label-item:nth-of-type(1),
.slider-two:checked ~.main-slider-block-control .main-slider-label-item:nth-of-type(2),
.slider-three:checked ~.main-slider-block-control .main-slider-label-item:nth-of-type(3) {
  border: 3px solid #000000;
}

/*--END main-slider--*/
/*--BEGIN main-content-product--*/
.main-content-product {
  margin: 0;
  padding: 0;
  margin-bottom: 200px;
}

.main-content-product .main-content-product-list {
  margin: 0;
  padding: 0;
}

.main-content-product-list .main-content-product-item {
  float: left;
  width: 160px;
  margin-right: 40px;
}

.main-content-product-list .main-content-product-item:last-of-type {
  margin-right: 0;
}

.main-content-product-link h3 {
  width: 125px;
  padding-top: 10px;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.main-content-product-block {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
}

.main-content-product-block>.main-content-product-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content-product-block:hover {
  background-color: #ffc600;
}

.main-content-product-item:active {
  opacity: 0.3;
}

/*--END main-content-product--*/
/*--BEGIN main-content-service--*/
.main-content-service {
  position: relative;
  min-height: 290px;
  background-color: #e6e6e6;
}

.main-content-service .service-block-control {
  position: absolute;
  top: -20px;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 190px;
}

.main-content-service .service-block-control::before {
  position: absolute;
  top: -80px;
  left: 280px;
  content: "";
  height: 320px;
  border-left: 8px solid #000000;
}

.service-block-control .btn-control {
  float: left;
  height: 40px;
  width: 280px;
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.service-block-control .btn-control:last-of-type {
  margin-bottom: 0;
}

.btn-standart.btn-control {
  width: 140px;
}

.layout-left {
  float: left;
  width: 460px;
}

.layout-left h2 {
  font-size: 47px;
  font-weight: 800;
  line-height: 0.1px;
}

.item-icon {
  float: right;
  width: 200px;
  margin-top: 30px;
  margin-right: 110px;
}

.deliveri-features,
.guarantees-features,
.credit-features {
  display: none;
}

.deliveri-features:checked ~ .service-content .first-item-content,
.guarantees-features:checked ~ .service-content .second-item-content,
.credit-features:checked ~ .service-content .third-item-content {
  opacity: 1;
}

.deliveri-features:checked ~ .service-block-control .btn-control:nth-of-type(1),
.guarantees-features:checked ~ .service-block-control .btn-control:nth-of-type(2),
.credit-features:checked ~ .service-block-control .btn-control:nth-of-type(3) {
  color: #ffe27f;
  background: none;
  background-color: #000000;
  box-shadow: 140px 0 #000000;
}

.service-content {
  position: relative;
}

.first-item-content,
.second-item-content,
.third-item-content {
  position: absolute;
  top: -40px;
  left: 420px;
  width: 870px;
  margin: 0;
  padding: 0;
  opacity: 0;
}
/*--END main-content-service--*/
/*--BEGIN main-content-logo-list--*/
.main-content-logo-list {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.main-content-logo-item {
  position: relative;
  float: left;
  margin-right: 40px;
}

.main-content-logo-item:last-of-type {
  margin-right: 0;
}

.main-content-logo-block {
  width: 260px;
  height: 100px;
}

.main-content-logo-item:hover .main-content-logo-picture-gray {
  opacity: 0;
}

.main-content-logo-item .main-content-logo-picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.main-content-logo-item:hover .main-content-logo-picture {
  opacity: 1;
}

/*--END main-content-logo-list--*/
/*--BEGIN main-content-column--*/
.main-content-column {
  padding: 0;
  margin: 0;
  margin-top: 300px;
}

.column-description {
  position: relative;
  width: 440px;
}

.column-description::before {
  position: absolute;
  top: -53px;
  content: "";
  width: 80px;
  height: 10px;
  border-top: 7px solid #000000;
}

.column-description h2 {
  font-size: 47px;
  font-weight: 800;
  padding-top: 5px;
}

.column-description p {
  padding-top: 15px;
  width: 470px;
}

.column-description p:last-of-type {
  padding-top: 15px;
}

.column-description .partners-list {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  padding-left: 40px;
  font-weight: 800;
  letter-spacing: 0.5px;
  padding-top: 25px;
  color: #000000;
}

.partners-list .partners-item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.partners-list .partners-item::before {
  position: absolute;
  content: "";
  top: 9px;
  left: -38px;
  height: 5px;
  width: 5px;
  border: 3px solid #b2b2b2;
  border-radius: 50%;
}

.btn-standart.btn-about,
.btn-standart.btn-write {
  width: 260px;
  margin-top: 40px;
}

.btn-standart.btn-about:active,
.btn-standart.btn-write:active {
  opacity: 0.3;
}

.btn-standart.btn-write {
  margin-top: 70px;
}

.layout-column-right .map-big {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 559px;
  background-color: #ffffff;
}

.layout-column-right .map-big:target {
  display: block;
}

.layout-column-right .column-form-description {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 553px;
  background-color: #ffffff;
}

.column-form-description .form-description {
  margin: 0;
  padding: 100px;
}

.form-description .name-field,
.form-description .email-field {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
}

.form-description .name-field-item {
  float: left;
  width: 360px;
}

.form-description .email-field-item {
  float: right;
  width: 360px;
}

.form-description .comment-field-item {
  float: left;
  width: 760px;
  margin-top: 40px;
}

.form-description .name-field-item,
.form-description .email-field-item,
.form-description .comment-field-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}

.form-description .name-field {
  float: left;
  margin-right: 40px;
  background-color: #f2f2f2;
  border: none;
}

.form-description .email-field {
  float: right;
  background-color: #f2f2f2;
  border: none;
}

.form-description .comment-field {
  float: left;
  width: 760px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 15px;
  background-color: #f2f2f2;
  border: none;
}

.form-description .name-field:focus,
.form-description .email-field:focus,
.form-description .comment-field:focus {
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.form-description .name-field:hover,
.form-description .email-field:hover,
.form-description .comment-field:hover {
  background-color: #ebebeb;
  border: none;
}

.form-description .name-field:invalid,
.form-description .email-field:invalid {
  background-color: #f6dada;
  border: none;
}

.column-form-description:target {
  display: block;
}

.btn-standart.btn-default {
  float: left;
  width: 200px;
  border: none;
  margin-top: 250px;
}

.btn-standart.btn-default:active {
  background: #f0c52e;
}

.btn-standart.btn-default:active span {
  opacity: 0.3;
}

.close-modal {
  position: absolute;
  top: 30px;
  left: 880px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f0c52e;
  opacity: 0.3;
  cursor: pointer;
}

.close-modal:hover {
  opacity: 1.0;
}

.close-modal:active::before,
.close-modal:active::after {
  border-top: 2px solid #f3d055;
}

.close-modal::before,
.close-modal::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 13px;
  width: 30px;
  border-top: 2px solid #ffffff;
}

.close-modal::before {
  transform: rotate(45deg);
}

.close-modal::after {
  transform: rotate(-45deg);
}
/*--END main-content-column--*/
/*--END main-content--*/
/*--BEGIN main-footer--*/
.main-footer {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  position: relative;
  height: 323px;
  background-color: #444444;
}

.main-footer-top {
  margin: 0;
  padding: 0;
  width: inherit;
  margin-top: 65px;
}

.main-footer-logo-link {
  float: left;
  width: 100px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #ffc700;
}

.main-footer-logo-link:hover {
  opacity: 0.5;
}

.main-footer-logo-link:active {
  opacity: 0.3;
}

.main-footer .controls-right-link {
  color: #ffffff;
  opacity: 0.5;
}

.main-footer .controls-right-link-basket {
  background: url("../img/sprite.png") no-repeat 50% 0;
}

.main-footer .controls-right-link-compare {
  background: url("../img/sprite.png") no-repeat 17% 0;
}

.main-footer .enter-link-icon,
.main-footer .exit-link-icon {
  left: 200px;
  background: url("../img/sprite.png") no-repeat 88% 0;
}

.main-footer .enter-link:hover,
.main-footer .profile-link:hover,
.main-footer .exit-link:hover,
.main-footer .controls-right-link:hover {
  opacity: 1.0;
}

.main-footer .enter-link:active,
.main-footer .profile-link:active,
.main-footer .exit-link:active,
.main-footer .controls-right-link:active {
  opacity: 0.3;
}

.main-footer .enter-link,
.main-footer .profile-link,
.main-footer .exit-link {
  float: right;
  margin-top: 0;
  color: #ffffff;
  opacity: 0.5;
}

.main-footer-middle {
  margin: 0;
  padding: 0;
  width: inherit;
  margin-top: 35px;
}

.main-footer-adress {
  float: left;
  width: 200px;
  margin-right: 160px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
}

.main-footer-navigation-list {
  float: left;
  width: 445px;
  margin: 0;
  padding: 0;
  margin-right: 190px;
}

.main-footer-navigation-list .main-footer-navigation-item {
  float: left;
  width: 130px;
  margin-right: 25px;
}

.main-footer-navigation-list .main-footer-navigation-item:last-of-type {
  margin-right: 0;
}

.main-footer-navigation-list .main-footer-navigation-link {
  font-family: "Gilroy" ,"Arial" , sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-footer-navigation-list .main-footer-navigation-link:hover {
  opacity: 0.5;
}

.main-footer-navigation-list .main-footer-navigation-link:active {
  opacity: 0.3;
}

.main-footer-phone {
  float: right;
  width: 165px;
  color: #ffffff;
}

.main-footer-bottom {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 52px;
  width: inherit;
}

.main-footer-bottom::before {
  position: absolute;
  top: 22px;
  content: "";
  width: 80px;
  height: 10px;
  border-top: 8px solid #ffc700;
}

.main-footer-social-list {
  float: left;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 472px;
  margin-left: 470px;
}

.main-footer-social-list .social-btn {
  float: left;
  width: 40px;
  height: 40px;
  color: #ffffff;
  opacity: 0.5;
}

.social-btn.social-btn-fb {
  background: url("../img/sprite.png") no-repeat 0 100%;
}

.social-btn.social-btn-inst {
  background: url("../img/sprite.png") no-repeat 51% 100%;
}

.social-btn.social-btn-tw {
  background: url("../img/sprite.png") no-repeat 101% 100%;
}

.main-footer-social-list .social-btn:hover {
  opacity: 1;
}

.main-footer-social-list .social-btn:active {
  opacity: 0.3;
}

.main-footer-copyright-btn {
  float: right;
  width: 30px;
}

.main-footer-copyright-btn .main-footer-copyright-btn-picture:hover {
  background-color: #464646;
  opacity: 0.5;
}

.main-footer-copyright-btn .main-footer-copyright-btn-picture:active {
  background-color: #464646;
  opacity: 0.3;
}
/*--END main-footer--*/
/*сетка catalog*/

.main-content-top h1 {
  padding-top: 20px;
  padding-left: 60px;
}

.breadcrumbs {
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 60px;
}

.breadcrumbs .breadcrumbs-link {
  float: left;
  margin-right: 35px;
  padding-left: 20px;
  color: #000000;
  opacity: 0.5;
}

.breadcrumbs .breadcrumbs-link:first-of-type {
  padding-left: 0;
}

.breadcrumbs .breadcrumbs-item:hover {
  opacity: 1;
}

.breadcrumbs .breadcrumbs-item:active {
  opacity: 0.3;
}

.breadcrumbs .breadcrumbs-item:nth-of-type(2)::before,
.breadcrumbs .breadcrumbs-item:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: 13px;
  border-top: 1px solid #000000;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}

.breadcrumbs .breadcrumbs-item:nth-of-type(2)::before,
.breadcrumbs .breadcrumbs-item:nth-of-type(2)::after {
  left: 130px;
}

.breadcrumbs .breadcrumbs-item:nth-of-type(3)::before,
.breadcrumbs .breadcrumbs-item:nth-of-type(3)::after {
  left: 285px;
}

.breadcrumbs .breadcrumbs-item:nth-of-type(2)::after,
.breadcrumbs .breadcrumbs-item:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 13px;
  border-top: 1px solid #000000;
  width: 5px;
  height: 5px;
  transform: rotate(135deg);
}

.main-content-middle {
  margin-top: 20px;
  background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%, #ebebeb);
}

.main-content-middle h2 {
  float: left;
  padding-left: 60px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-content-middle .layout-column-left {
  position: relative;
  padding-top: 10px;
  width: 325px;
  background-color: #dbdbdb;
}

.main-content-middle .layout-column-right {
  padding-top: 10px;
  width: 835px;
  background-color: #ebebeb;
}

.main-content-middle .sort-list {
  float: left;
  width: 500px;
  margin: 0;
  padding: 0;
}

.sort-list .sort-link {
  float: left;
  margin-right: 20px;
  padding-top: 15px;
  color: #bababa;
}

.sort-item:first-of-type .sort-link {
  margin-left: 50px;
  color: #000000;
  opacity: 0.3;
  cursor: pointer;
}

.sort-item:first-of-type .sort-link:hover {
  opacity: 0.5;
}

.sort-item:first-of-type .sort-link:active {
  opacity: 1;
}

.main-content-middle .sort-direction {
  position: relative;
  float: right;
  width: 60px;
}

.sort-direction .sort-direction-up-btn {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  border: 10px solid #000000;
  border-top: 0;
  border-bottom-color: #000000;
  border-left-color: transparent;
  border-right-color: transparent;
  opacity: 0.3;
}

.sort-direction .sort-direction-down-btn {
  position: absolute;
  top: 25px;
  left: 40px;
  content: "";
  border: 10px solid #000000;
  border-top-color: #000000;
  border-bottom: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  opacity: 0.3;
}

.sort-direction .sort-direction-up-btn:hover,
.sort-direction .sort-direction-down-btn:hover {
  opacity: 0.5;
}

.sort-direction .sort-direction-up-btn:active,
.sort-direction .sort-direction-down-btn:active {
  opacity: 1;
}

.main-content-bottom {
  background-image: linear-gradient(to right, #eeeeee 50%, #ffffff 50%, #ffffff);
}

.main-content-bottom .layout-column-left {
  background-color: #efefef;
}

.main-content-bottom .filter-type {
  width: 275px;
  padding-left: 50px;
  padding-top: 70px;
}

.filter-type legend {
  font-family: "Gilroy", "Arial" , sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #000000;
}

.filter-type fieldset {
  position: relative;
}

.filter-type legend::before {
  position: absolute;
  top: -10px;
  width: 200px;
  height: 10px;
  content: "";
  border-top: 2px solid #000000;
}

.filter-type-range-option {
  display: none;
}

.buttons-range .button {
  position: absolute;
  width: 5px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #000000;
}

.button.button-after {
  left: 100px;
}

.button.button-after::after,
.button.button-before::after {
  position: absolute;
  content: "";
  left: 14px;
  width: 90px;
  border-top: 1px solid #dbdbdb;
}

.button.button-before::after {
  border-top: 1px solid #91c92f;
}

.button.button-after::before,
.button.button-before::before {
  position: absolute;
  top: 15px;
  left: -15px;
  width: 60px;
}

.button.button-after::before {
  content: "до 5000";
}

.button.button-before::before {
  content: "от 0";
}

.main-content-bottom .filter-type-checkbox{
  margin-top: 40px;
}

.filter-type-checkbox .filter-type-checkbox-option {
  display: none;
}

.filter-type-checkbox-list {
  position: relative;
  margin: 0;
  padding: 0;
}

.filter-type-checkbox-list .filter-type-checkbox-label {
  width: 50px;
  padding: 5px;
  padding-left: 35px;
}

.filter-type-checkbox-list .filter-type-checkbox-item::before {
  position: absolute;
  content: "";
  top: 3px;
  width: 20px;
  height: 20px;
  background-color: #dbdbdb;
}

.filter-type-checkbox-list .filter-type-checkbox-item:hover::before {
  background-color: #cecece;
}

.filter-type-checkbox-list .filter-type-checkbox-item:active::before {
  background-color: #c4c4c4;
}

.filter-type-checkbox-item {
  position: relative;
}

.filter-type-checkbox-list .filter-type-checkbox-label::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 6px;
  border-top: 2px solid #000000;
  transform: rotate(45deg);
  z-index: 200;
}

.filter-type-checkbox-list .filter-type-checkbox-label::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 10px;
  border-top: 2px solid #000000;
  transform: rotate(-45deg);
  z-index: 200;
}

.filter-type-checkbox-option:checked + .filter-type-checkbox-label::before,
.filter-type-checkbox-option:checked + .filter-type-checkbox-label::after {
  opacity: 1;
}

.filter-type-checkbox-option:active:checked + .filter-type-checkbox-label::before,
.filter-type-checkbox-option:active:checked + .filter-type-checkbox-label::after {
  opacity: 0;
}

.filter-type .filter-type-radio {
  margin-top: 30px;
}

.filter-type-radio .radio-bluetooth {
  display: none;
}

.filter-type-radio .radio-bluetooth-label {
  position: relative;
  float: left;
  padding-left: 30px;
  margin-right: 100px;
  margin-bottom: 10px;
}

.filter-type-radio .radio-bluetooth-label::before {
  position: absolute;
  top: 7px;
  left: 2px;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #acacac;
  border-radius: 50%;
}

.filter-type-radio .radio-bluetooth-label::after {
  opacity: 0;
  position: absolute;
  top: 11px;
  left: 6px;
  content: "";
  width: 2px;
  height: 2px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.radio-bluetooth-label:active::after {
  opacity: 1;
}

.radio-bluetooth:checked + .radio-bluetooth-label::after {
  opacity: 1;
}

.radio-bluetooth:active:checked + .radio-bluetooth-label::after {
  opacity: 0;
}

.btn-standart.btn-form {
  border:none;
  margin-left: 10px;
}

.main-content-bottom .layout-column-right {
  width: 835px;
  background-color: #ffffff;
}

.main-content-ware {
  position: relative;
  padding: 0;
  margin: 0;
  float: left;
  width: 360px;
  height: 455px;
  margin-bottom: 50px;
}

.main-content-ware:last-of-type::before {
  position: absolute;
  content: "";
  z-index: 500;
  top: 20px;
  left: 280px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
}

.main-content-ware:last-of-type::after {
  position: absolute;
  content: "new";
  z-index: 500;
  top: 37px;
  left: 292px;
  color: #d6d6d6;
  font-family: "Gilroy", "Arial" , sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.main-content-ware:nth-of-type(1),
.main-content-ware:nth-of-type(3) {
  box-sizing: border-box;
  margin-left: 72px;
  margin-right: 40px;
}

.main-content-ware:nth-of-type(1),
.main-content-ware:nth-of-type(2) {
  box-sizing: border-box;
  margin-top: 70px;
}

.main-content-ware:nth-of-type(2),
.main-content-ware:nth-of-type(4) {
  float: right;
}

.main-content-ware .picture-item {
  width: 360px;
  height: 380px;
}

.picture-item:hover {
  cursor: pointer;
}

.picture-item:hover ~.picture-action .btn-default,
.picture-item:hover ~.picture-action .btn-basket {
  display: block;
}

.btn-default {
  display: none;
  position: absolute;
  top: 220px;
  left: 100px;
  opacity: 0.5;
  cursor: pointer;
}

.btn-default:hover {
  display: block;
  opacity: 1;
}

.btn-default:active {
  display: block;
  opacity: 0.3;
}

.btn-basket {
  display: none;
  position: absolute;
  width: 200px;
  top: 150px;
  left: 80px;
  cursor: pointer;
}

.btn-standart.btn-basket:active {
  display: block;
  opacity: 0.3;
}

.btn-standart.btn-basket:hover {
  display: block;
  background: #f0c52e;
}

.main-content-ware .description-link {
  float: left;
  width: 260px;
  margin-top: 15px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #000000;
}

.main-content-ware .price {
  float: right;
  width: 100px;
  text-align: right;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #464646;
}

.pagination-list {
  float: left;
  margin: 0;
  padding: 0;
  width: 760px;
  margin-left: 75px;
}

.pagination-list .pagination-list-item {
  float: left;
  padding: 30px;
  opacity: 0.3;
  cursor: pointer;
}

.pagination-list .pagination-list-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #000000;
}

.pagination-list .pagination-list-item:last-of-type {
  float: right;
  width: 136px;
}

.pagination-list .pagination-list-item:first-of-type {
  margin-right: 90px;
  width: 126px;
}

.pagination-list .pagination-list-item:hover {
  opacity: 0.5;
}

.pagination-list .pagination-list-item:active {
  opacity: 1;
}
